a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  overflow-x: hidden;
  position: relative;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

.marquee {
  color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .marquee {
    width: 100px;
    height: 100vh;
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .marquee {
    width: calc(100% - 100px);
    height: 70px;
    padding-left: 100px;
  }
}
.marquee p {
  white-space: nowrap;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 200;
  position: absolute;
  animation: scroll 30s linear infinite;
}
@media (min-width: 768px) {
  .marquee p {
    font-size: 18px;
    letter-spacing: 2px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  @keyframes scroll {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
@media (max-width: 767px) {
  .marquee p {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.btn {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 600;
  border-radius: 50%;
  background-color: rgb(235, 87, 87);
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 300;
  letter-spacing: 5%;
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    width: 100px;
    height: 100px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .btn {
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
}

.main {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  .main {
    width: calc(100vw - 100px);
    padding-left: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    width: calc(100vw - 100px);
    padding-left: 100px;
  }
}
@media (max-width: 767px) {
  .main {
    width: 100vw;
    padding-top: 70px;
  }
}
.main .basic {
  background-color: rgb(242, 242, 242);
}
@media (min-width: 768px) {
  .main .basic {
    width: 35%;
    height: 500px;
  }
  .main .basic i {
    width: 11px;
  }
}
@media (max-width: 767px) {
  .main .basic {
    padding-top: 320px;
    width: 100%;
    height: 170px;
  }
  .main .basic i {
    width: 7px;
  }
}
.main .basic div {
  margin: 0;
  color: rgb(51, 51, 51);
  width: 20%;
  position: absolute;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 1440px) {
  .main .basic div {
    padding-left: 90px;
  }
  .main .basic div:nth-of-type(1) {
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 8%;
    top: 100px;
    font-weight: 100;
  }
  .main .basic div:nth-of-type(2) {
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 3%;
    top: 154px;
    font-weight: 500;
  }
  .main .basic div:nth-of-type(3) {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 3%;
    top: 351px;
  }
  .main .basic div:nth-of-type(4) {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 3%;
    top: 395px;
    white-space: pre-line;
  }
  .main .basic div:nth-of-type(5) {
    left: 373px;
    z-index: 99;
  }
  .main .basic div:nth-of-type(6) {
    left: 418px;
    z-index: 98;
  }
  .main .basic div:nth-of-type(7) {
    width: 65%;
    height: 500px;
    overflow: hidden;
    top: 0px;
    right: 0px;
    z-index: -1;
  }
  .main .basic div:nth-of-type(7) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .main .basic div {
    padding-left: 90px;
  }
  .main .basic div:nth-of-type(1) {
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 8%;
    top: 100px;
    font-weight: 100;
  }
  .main .basic div:nth-of-type(2) {
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 3%;
    top: 154px;
    font-weight: 500;
  }
  .main .basic div:nth-of-type(3) {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    top: 298px;
  }
  .main .basic div:nth-of-type(4) {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    top: 340px;
    white-space: pre-line;
  }
  .main .basic div:nth-of-type(5) {
    z-index: 99;
  }
  .main .basic div:nth-of-type(6) {
    left: 145px;
    z-index: 98;
  }
  .main .basic div:nth-of-type(7) {
    width: 65%;
    height: 500px;
    overflow: hidden;
    top: 0px;
    right: 0px;
    z-index: -1;
  }
  .main .basic div:nth-of-type(7) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .main .basic div {
    padding-left: 40px;
  }
  .main .basic div:nth-of-type(1) {
    font-size: 18px;
    line-height: 26.64px;
    letter-spacing: 1.2px;
    top: 420px;
    font-weight: 400;
  }
  .main .basic div:nth-of-type(2) {
    font-size: 12px;
    line-height: 17.76px;
    letter-spacing: 0.5px;
    top: 426px;
    left: 67px;
    font-weight: 500;
  }
  .main .basic div:nth-of-type(3) {
    width: auto;
    font-size: 12px;
    line-height: 17.7px;
    letter-spacing: 0.2px;
    top: 484px;
    overflow: visible;
  }
  .main .basic div:nth-of-type(4) {
    width: 50%;
    height: auto;
    font-size: 12px;
    line-height: 17.7px;
    letter-spacing: 0.5px;
    top: 512px;
    white-space: nowrap;
    overflow-wrap: break-word;
  }
  .main .basic div:nth-of-type(5) {
    right: 75px;
    z-index: 99;
  }
  .main .basic div:nth-of-type(6) {
    right: 40px;
    z-index: 98;
  }
  .main .basic div:nth-of-type(7) {
    padding-left: 0px;
    width: 100vw;
    height: 320px;
    overflow: hidden;
    top: 70px;
    right: 0;
    z-index: 300;
  }
  .main .basic div:nth-of-type(7) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.main .basic .linkImg {
  width: 25px;
  height: 25px;
}
@media (min-width: 1440px) {
  .main .basic .linkImg {
    top: 395px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .main .basic .linkImg {
    top: 414px;
  }
}
@media (max-width: 767px) {
  .main .basic .linkImg {
    width: 20px;
    height: 20px;
    top: 512px;
  }
}
.main .basic .linkImg a {
  width: 100%;
  height: 100%;
  display: block;
}
.main .basic .linkImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.main .experience {
  position: relative;
  top: 70px;
  left: 35%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main .experience {
    left: 90px;
  }
}
@media (max-width: 767px) {
  .main .experience {
    top: 50px;
    left: 40px;
  }
}
.main .extitle {
  font-weight: 500;
}
@media (min-width: 768px) {
  .main .extitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.7px;
  }
}
@media (max-width: 767px) {
  .main .extitle {
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.5px;
  }
}
.main .exBox {
  margin-bottom: 130px;
}
@media (min-width: 1440px) {
  .main .exBox {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 65%;
    margin-top: 40px;
    position: relative;
    top: 70px;
    left: 35%;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main .exBox {
    width: 65%;
    margin-top: 40px;
    position: relative;
    top: 70px;
    left: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main .exBox {
    width: calc(100% - 190px);
    margin-top: 40px;
    position: relative;
    top: 70px;
    left: 90px;
  }
}
@media (max-width: 767px) {
  .main .exBox {
    width: calc(100% - 80px);
    margin-top: 40px;
    position: relative;
    top: 50px;
    left: 40px;
  }
}
.main .exBox .exBox1 {
  width: 100%;
  border-left: solid 0.5px rgb(189, 189, 189);
}
@media (min-width: 768px) {
  .main .exBox .exBox1 div {
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .main .exBox .exBox1 div.exProject, .main .exBox .exBox1 div.exContent {
    width: calc(100% - 90px);
    padding-left: 30px;
    padding-right: 60px;
  }
}
.main .exBox .exBox1 div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .exBox .exBox2 {
  width: 100%;
  padding-right: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .exBox .exBox2 .exLine {
  border-left: solid 0.5px rgb(189, 189, 189);
  padding-left: 40px;
}
@media (max-width: 1440px) {
  .main .exBox .exBox2 .exLine {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .main .exBox .exBox2 .exLine {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .main .exBox .exBox2 .exProject {
    margin-top: 0px;
  }
}
.main .exBox .exBox2 .extitle {
  margin-top: 60px;
  padding-left: 0px;
  margin-left: 0px;
  height: auto;
}
.main .exBox .exBox2 .exBox3 {
  padding-left: 40px;
  margin-left: 0px;
  padding-right: 40px;
  width: calc(100% - 80px);
  border-left: solid 0.5px rgb(189, 189, 189);
  margin-top: 40px;
  position: relative;
}
.main .exBox .exBox2 .exBox3 .exProject:last-child {
  margin-top: 10px;
}
.main .exBox .exBox2 .exBox3 .exProject {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .main .exBox .exBox2 .exBox3 {
    padding-left: 30px;
  }
}
.main .exBox div {
  color: rgb(51, 51, 51);
  position: relative;
}
.main .exBox div.exYear {
  margin-top: 40px;
  color: rgb(51, 51, 51);
  font-weight: 200;
}
@media (min-width: 768px) {
  .main .exBox div.exYear {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.7px;
  }
}
@media (max-width: 767px) {
  .main .exBox div.exYear {
    position: absolute;
    right: 0;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0.5px;
  }
}
.main .exBox div.exYear:first-child {
  margin-top: 0px;
}
@media (min-width: 768px) {
  .main .exBox div.exProject {
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .main .exBox div.exProject {
    font-size: 14px;
    line-height: 15.6px;
    margin-top: 40px;
  }
}
.main .exBox div.exContent {
  color: rgb(189, 189, 189);
  margin-top: 10px;
  overflow: visible;
  white-space: break-spaces;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .main .exBox div.exContent {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main .exBox div.exContent {
    width: 95%;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 767px) {
  .main .exBox div.exContent {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

.works {
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 100px;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .works {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .works {
    margin-left: 0px;
    margin-top: 110px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .works {
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .works {
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.2px;
  }
}
@media (max-width: 767px) {
  .works {
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0.1px;
  }
}
.works .worksBox {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.works .worksBox .worksContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 1024px) {
  .works .worksBox .worksContent {
    height: 70px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .works .worksBox .worksContent {
    height: 55px;
  }
}
@media (max-width: 767px) {
  .works .worksBox .worksContent {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.works .worksBox .worksContent p:nth-of-type(1) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .works .worksBox .workBoxS {
    width: 28%;
  }
}
@media (max-width: 767px) {
  .works .worksBox .workBoxS {
    width: 89.8%;
  }
}
.works .worksBox .workBoxS .worksImg img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.works .worksBox .workBoxS .worksImg img video {
  width: 100%;
}
@media (min-width: 768px) {
  .works .worksBox .workBoxS:nth-child(2), .works .worksBox .workBoxS:nth-child(3) {
    margin-left: 2.8%;
  }
}
@media (max-width: 767px) {
  .works .worksBox .workBoxS:nth-child(2), .works .worksBox .workBoxS:nth-child(3) {
    margin-top: 30px;
  }
}
.works .worksBox .workBoxS .worksContent {
  margin-top: 10px;
  border-bottom: solid 0.5px rgb(51, 51, 51);
  border-right: solid 0.5px rgb(51, 51, 51);
  border-left: solid 0.5px rgb(51, 51, 51);
}
.works .worksBox .workBoxL {
  width: 89.8%;
  margin-top: 70px;
  display: flex;
  flex-flow: wrap;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .works .worksBox .workBoxL {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .works .worksBox .workBoxL {
    margin-top: 50px;
  }
}
.works .worksBox .workBoxL .worksContent {
  width: 100%;
  margin-bottom: 10px;
  border-top: solid 0.5px rgb(51, 51, 51);
  border-right: solid 0.5px rgb(51, 51, 51);
  border-left: solid 0.5px rgb(51, 51, 51);
}
.works .worksBox .workBoxL .graphicBox {
  width: 100%;
  column-gap: 0px;
  background-color: rgb(242, 242, 242);
}
@media (min-width: 1024px) {
  .works .worksBox .workBoxL .graphicBox {
    column-count: 3;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .works .worksBox .workBoxL .graphicBox {
    column-count: 2;
  }
}
@media (max-width: 767px) {
  .works .worksBox .workBoxL .graphicBox {
    column-count: 1;
  }
}
.works .worksBox .workBoxL .graphicBox .worksImg {
  box-sizing: content-box;
  break-inside: avoid;
  position: relative;
}
.works .worksBox .workBoxL .graphicBox .worksImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
}
.works .worksBox .workBoxL .graphicBox .worksImg .worksHover {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

/*# sourceMappingURL=all.css.map */
