// 色票
$color_g1:rgba(51, 51, 51, 1);
$color_g2:rgba(189, 189, 189, 1);
$color_g3:rgba(242, 242, 242, 1);
$color_w:rgba(255, 255, 255, 1);
$color_r:rgba(235, 87, 87, 1);

// 字型
$font:'Montserrat', 'Noto Sans JP', sans-serif;
a{
    text-decoration: none;
    color: $color_g1;
}

// 瀏覽器
body{
    width: 100%; 
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow-x: hidden;
    position: relative;
    font-family: $font;
}

// 跑馬燈
.marquee{
    color: $color_w;
    overflow: hidden;
    position: fixed;
    top: 0; left: 0;
    z-index: 500;
    background-color: $color_g1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px){
        width: 100px; 
        height: 100vh;
        padding-top: 100px;
    }
    
    @media (max-width: 767px){
        width: calc(100% - 100px); 
        height: 70px;
        padding-left: 100px;
    }

    p{
        white-space: nowrap;
        font-family: $font;
        font-weight: 200;
        position: absolute;
        animation: scroll 30s linear infinite;

        @media(min-width: 768px){
            font-size: 20px;
            letter-spacing: 2px;
            writing-mode: vertical-lr; // 直排
            text-orientation: mixed;   // 轉向
        
            @keyframes scroll{
            from{transform: translateY(100%)}
            to{transform: translateY(-100%)}
        }
        }
        
        @media(max-width: 767px){
            font-size: 12px;
            letter-spacing: 0.5px;
            @keyframes scroll{
            from{transform: translateX(100%)}
            to{transform: translateX(-100%)}
        }
        }
    }
}

// 切換頁面 button
.btn{
    display: flex;
    top: 0; left: 0;
    position: fixed;
    z-index: 600;
    border-radius: 50%;
    background-color: $color_r;
    font-family: $font;
    font-weight: 300;
    letter-spacing: 5%;
    color: $color_g1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: 768px){
        width: 100px; height: 100px;
        font-size: 20px;
    }
    
    @media (max-width: 767px){
        width: 70px; height: 70px;
        font-size: 12px;
    }


}

// 主要內容
.main{
    font-family: $font;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;

    @media (min-width: 1024px){
        width: calc( 100vw - 100px );
        padding-left: 100px;
    }

    @media (min-width: 768px) and (max-width: 1023px){
        width: calc( 100vw - 100px );
        padding-left: 100px;
    }
    
    @media (max-width: 767px){
        width: 100vw;
        padding-top: 70px;
    }
    
    // 基本資料
    .basic{ 
        background-color: $color_g3;
        
        @media (min-width: 768px){
            width: 35%;
            height: 500px;
            i{ width: 11px; }
        }
        @media (max-width: 767px){
            padding-top: 320px;
            width: 100%;
            height: 170px;
            i{ width: 7px; }
        }

        div{ // 字形設定
            margin: 0;
            color: $color_g1;
            width: 20%;
            position: absolute;
            font-family: $font;
            // ...
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @media (min-width: 1440px){
                padding-left: 90px;

                &:nth-of-type(1){ // 性名
                    font-size: 28px;
                    line-height: 41px;
                    letter-spacing: 8%;
                    top: 100px;
                    font-weight: 100;
                }
    
                &:nth-of-type(2){ // name
                    font-size: 19px;
                    line-height: 32px;
                    letter-spacing: 3%;
                    top: 154px; 
                    font-weight: 500;
                }
    
                &:nth-of-type(3){ // 縣市
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 3%;
                    top: 351px; 
                }
    
                &:nth-of-type(4){ // 職稱
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 3%;
                    top: 395px; 
                    white-space: pre-line;
                }

                &:nth-of-type(5){ // 104 link
                    left: 373px;
                    z-index: 99;
                }

                &:nth-of-type(6){ // github link
                    left: 418px;
                    z-index: 98;
                }
    
                &:nth-of-type(7){ // 照片
                    width: 65%;
                    height: 500px;
                    overflow: hidden;
                    top: 0px; right: 0px;
                    z-index: -1;
    
                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }
                }
                
            }

            @media  (min-width: 768px) and (max-width: 1439px){
                padding-left: 90px;

                &:nth-of-type(1){ // 性名
                    font-size: 28px;
                    line-height: 41px;
                    letter-spacing: 8%;
                    top: 100px;
                    font-weight: 100;
                }
    
                &:nth-of-type(2){ // name
                    font-size: 19px;
                    line-height: 32px;
                    letter-spacing: 3%;
                    top: 154px; 
                    font-weight: 500;
                }
    
                &:nth-of-type(3){ // 縣市
                    font-size: 15px;
                    line-height: 23px;
                    letter-spacing: 3%;
                    top: 298px; 
                }
    
                &:nth-of-type(4){ // 職稱
                    font-size: 15px;
                    line-height: 23px;
                    letter-spacing: 3%;
                    top: 340px; 
                    white-space: pre-line;
                }

                &:nth-of-type(5){ // 104 link
                    z-index: 99;
                }

                &:nth-of-type(6){ // github link
                    left: 145px;
                    z-index: 98;
                }
    
                &:nth-of-type(7){ // 照片
                    width: 65%;
                    height: 500px;
                    overflow: hidden;
                    top: 0px; right: 0px;
                    z-index: -1;
    
                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }
                }
            }
            
            @media (max-width: 767px){
                padding-left: 40px;

                &:nth-of-type(1){ // 性名
                    font-size: 18px;
                    line-height: 26.64px;
                    letter-spacing: 1.2px;
                    top: 420px;
                    font-weight: 400;
                }
    
                &:nth-of-type(2){ // name
                    font-size: 12px;
                    line-height: 17.76px;
                    letter-spacing: 0.5px;
                    top: 426px;
                    left: 67px; 
                    font-weight: 500;
                }
    
                &:nth-of-type(3){ // 縣市
                    width: auto;
                    font-size: 12px;
                    line-height: 17.7px;
                    letter-spacing: 0.2px;
                    top: 484px; 
                    overflow: visible;
                }
    
                &:nth-of-type(4){ // 職稱
                    width: 50%;
                    height: auto;
                    font-size: 12px;
                    line-height: 17.7px;
                    letter-spacing: 0.5px;
                    top: 512px; 
                    white-space: nowrap;
                    overflow-wrap:break-word;
                }

                &:nth-of-type(5){ // 104 link
                    right: 75px;
                    z-index: 99;
                }

                &:nth-of-type(6){ // github link
                    right: 40px;
                    z-index: 98;
                }
    
                &:nth-of-type(7){ // 照片
                    padding-left: 0px;
                    width: 100vw; height: 320px;
                    overflow: hidden;
                    top: 70px; right: 0;
                    z-index: 300;
    
                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }
                }
            }


        }

        .linkImg{ // link
            width: 25px; height: 25px;

            @media (min-width: 1440px){
                top: 395px; 
            }
            
            @media (min-width: 768px) and (max-width: 1439px){
                top: 414px; 
            }
            
            @media (max-width: 767px){
                width: 20px; height: 20px;
                top: 512px; 
            }

            a{
                width: 100%; height: 100%;
                display: block;
            }

            img{
                width: 100%; height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
            
        }
    }

    // 經歷
    .experience{
        position: relative;
        top:70px; 
        left: 35%;
        @media (min-width: 768px) and (max-width: 1023px){
            left: 90px;
        }
        @media (max-width: 767px){
            top:50px; 
            left: 40px;
        }
    }

    .extitle{ // 標題字形設定 Experience/Awards
        font-weight: 500;

        @media (min-width: 768px){
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.7px;
        }
        
        @media (max-width: 767px){
            font-size: 12px;
            line-height: 15.6px;
            letter-spacing: 0.5px;
        }
    }

    .exBox{ // 經歷容器
        margin-bottom: 130px;

        @media (min-width: 1440px) {
            display: grid;
            grid-template-columns: 60% 40%;
            width: 65%; 
            margin-top: 40px;
            position: relative;
            top:70px; 
            left: 35%;
        }
        @media (min-width: 1024px) and (max-width: 1439px){
            width: 65%; 
            margin-top: 40px;
            position: relative;
            top:70px; 
            left: 35%;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            width: calc(100% - 190px); 
            margin-top: 40px;
            position: relative;
            top:70px; 
            left: 90px;
        }

        @media (max-width: 767px){
            width: calc(100% - 80px); 
            margin-top: 40px;
            position: relative;
            top:50px; 
            left: 40px;
            }

        .exBox1{ // 經歷x3
            width: 100%;
            border-left: solid .5px $color_g2;

            // 文字縮排
            @media (min-width: 768px){
                div{ 
                    padding-left: 40px;
                }
            }
            @media (max-width: 767px){
                div.exProject ,div.exContent{
                    width: calc(100% - 90px);
                    padding-left: 30px;
                    padding-right: 60px;
                }
            }

            div{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .exBox2{ // 經歷x1 獎項x1
            width: 100%;
            padding-right: 40px;
            // ...
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            .exLine{
                border-left: solid .5px $color_g2;
                padding-left: 40px;
                @media (max-width: 1440px){
                    padding-top: 40px;
                }
            }

            .exProject{ // 調整
                @media (max-width: 767px){
                    margin-top: 0px;
                }
            }

            // 獎項
            .extitle{
                margin-top: 60px;
                padding-left: 0px;
                margin-left: 0px; // 標題不縮排
                height: auto;
            }

            .exBox3{
                padding-left: 40px;
                margin-left: 0px;
                padding-right: 40px;
                width: calc(100% - 80px); 
                border-left: solid .5px $color_g2;
                margin-top: 40px;
                position: relative;

                .exProject:last-child{ // 獎項行距調整
                    margin-top: 10px;
                }

                .exProject{
                    margin-top: 10px;
                }
            }
        }

        div{ // 行高行距顏色設定
            color: $color_g1;
            position: relative;
            
            &.exYear{ // 年份
                margin-top: 40px;
                color: $color_g1;
                font-weight: 200;

                @media (min-width: 768px){
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.7px;
                }
                
                @media (max-width: 767px){
                    position: absolute;
                    right: 0;
                    font-size: 12px;
                    line-height: 14.4px;
                    letter-spacing: 0.5px;
                }

                &:first-child{ // 第一個項目行距取消
                    margin-top: 0px;
                }
            }

            &.exProject{ // 專案名稱

                @media (min-width: 768px){
                    font-size: 18px;
                    line-height: 21.6px;
                    margin-top: 15px;
                }
                
                @media (max-width: 767px){
                    font-size: 14px;
                    line-height: 15.6px;
                    margin-top: 40px;
                }
            }

            &.exContent{ // 內容
                color: $color_g2;
                margin-top: 10px;
                overflow:visible;
                white-space:break-spaces;
                font-weight: 400;

                @media (min-width: 1024px){
                    width: 80%;
                }

                @media (min-width: 768px) and (max-width: 1023px){
                    width: 95%;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0.5px;
                }
                
                @media (max-width: 767px){
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                }
            }
        }
    }   

    // Footer
    // .footer{
    //     box-sizing: border-box;
    //     position: relative;
    //     color: $color_g2;
    //     font-family: $font;
    //     display: flex;
        
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     border-left: solid .5px $color_g2;
    //     border-right: solid .5px $color_g2;
    //     border-top: solid .5px $color_g2;


    //     @media (min-width: 1024px){
    //         margin-left: 90px;
    //         width: 89.830508%; 
    //         height: 70px;
    //         font-size: 14px;
    //         padding-left: 30px;
    //         padding-right: 30px;
    //         margin-top: 150px;
    //     }
        
    //     @media (min-width: 768px) and (max-width: 1023px){
    //         margin-left: 80px;
    //         width: 89.830508%; 
    //         height: 70px;
    //         font-size: 14px;
    //         padding-left: 30px;
    //         padding-right: 30px;
    //         margin-top: 150px;
    //     }
        
    //     @media (max-width: 767px){
    //         width: 89.830508%; 
    //         height: 70px;
    //         font-size: 14px;
    //         padding-left: 30px;
    //         padding-right: 30px;
    //         margin-top: 150px;
    //     }
    // }
}

// 作品
.works{
    margin-top: 80px;
    margin-left: 100px; // 跑馬燈寬度
    margin-bottom: 100px;
    @media (min-width: 768px) and (max-width: 1023px){
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @media (max-width: 767px){
        margin-left: 0px; // 跑馬燈移至上方
        margin-top: 100px;// ＋跑馬燈長度
        margin-bottom: 50px;
    }

    // 字形設定
    font-family: $font;
    color: $color_g1;
    @media (min-width: 1024px){
        font-size: 20px;
        line-height: 21px;
        letter-spacing: 0.5px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 0.2px;
    }
    @media (max-width: 767px){
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.1px;
    }
    

    // 作品容器
    .worksBox{ 
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .worksContent{ // 作品說明
            @media (min-width: 1024px){
                height: 70px;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                height: 55px;
            }
            @media (max-width: 767px){
                height: 40px;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            
            p:nth-of-type(1){
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        // 網頁作品
        .workBoxS { 
            @media (min-width: 768px){
                width: 43.5%; 
            }
            @media (max-width: 767px){
                width: 89.8%; 
            }

            .worksImg img{ // 作品主圖
                width: 100%; 
                object-fit: cover;
                object-position: 0% 50%;
            }

            &:nth-child(2){ // 第二個作品距離設定
                @media (min-width: 768px){
                    margin-left: 2.8%;
                }
                @media (max-width: 767px){
                    margin-top: 30px;
                }
            }

            .worksContent{ // 作品說明
                margin-top: 10px;
                border-bottom: solid 0.5px $color_g1;
                border-right: solid 0.5px $color_g1;
                border-left: solid 0.5px $color_g1;
            }
        }

        // 平面作品
        .workBoxL{ 
            width: 89.8%; 
            margin-top: 70px;
            display: flex;
            flex-flow: wrap;
            @media (min-width: 768px) and (max-width: 1023px){
                margin-top: 50px;
            }
        
            @media (max-width: 767px){
                margin-top: 50px;
            }

            .worksContent{ // 字形設定
                width: 100%; 
                margin-bottom: 10px;
                border-top: solid 0.5px $color_g1;
                border-right: solid 0.5px $color_g1;
                border-left: solid 0.5px $color_g1;
            }

            .graphicBox{ // 瀑布式排版
                width: 100%;
                column-gap: 0px;
                background-color: $color_g3;
                @media (min-width: 1024px){
                    column-count: 3;
                }
                
                @media (min-width: 768px) and (max-width: 1023px){
                    column-count: 2;
                }
                
                @media (max-width: 767px){
                    column-count: 1;
                }

                .worksImg{ // 作品主圖
                    box-sizing: content-box;
                    break-inside: avoid;
                    position: relative;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        display: block;
                    }

                    .worksHover{
                        position: absolute;
                        top:0;
                        width: 100%;
                        z-index: 100;
                    }
                }
            }
        }
    }
}





